# https://github.com/github/gitignore/blob/main/Unity.gitignore
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
# /[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
ExportedObj/

crashlytics-build.properties
.gradle/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

*.apk
*.aab
*.unitypackage
*.app
*.log
*.sql

# Environment
.env
.env.testing
.env.backup
.env.production
.env.development

# IDE
/.fleet
/.idea
.vs/
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# etc
sysinfo.txt
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
